name: CI Mirror Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy CI Mirror
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./

      - name: Publish
        uses: actions/deploy-pages@v2
